<div class="list-group">
    <a routerLink='promise' routerLinkActive="active" class="list-group-item list-group-item-action" aria-current="true">
        Promise
    </a>
    <a routerLink='observable' routerLinkActive="active" class="list-group-item list-group-item-action" aria-current="true">
        Observable
    </a>
    <a routerLink='fromevent' routerLinkActive="active" class="list-group-item list-group-item-action" aria-current="true">
        From Event
    </a>
    <a routerLink='interval' routerLinkActive="active" class="list-group-item list-group-item-action" aria-current="true">
        Interval
    </a>
    <a routerLink='off-from' routerLinkActive="active" class="list-group-item list-group-item-action" aria-current="true">
        Off-From
    </a>
    <a routerLink='toarray' routerLinkActive="active" class="list-group-item list-group-item-action" aria-current="true">
        To Array
    </a>
    <a routerLink='custom-observable' routerLinkActive="active" class="list-group-item list-group-item-action" aria-current="true">
        Custom Observable
    </a>
    <!-- <a href="#" class="list-group-item list-group-item-action">A second link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled
        link item</a> -->
</div>