<div class="container">
    <h3>Of from</h3>
    <div class="row">
        <div class="col-6">
            <p>
                <strong>Exmaple</strong> :Of("One","Two","Three")
            </p>
            Result
            <ul>
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
            </ul>
        </div>
        <div class="col-6">
            <p>
                <strong>Exmaple</strong> :Of("One","Two","Three")
            </p>
            Result Auto
            <ul id="uElement">
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>
                <strong>Exmaple</strong> :From ["One","Two","Three"]
            </p>
            Result
            <ul>
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
            </ul>
        </div>
        <div class="col-6">
            <p>
                <strong>Exmaple</strong> :Data ["One","Two","Three"]
            </p>
            Result Auto
            <ul id="uElement2">
            </ul>
        </div>
    </div>
</div>